/* Colors */

#@import 'colors.css';
@define-color background #2a2929;
@define-color groupbackground @background;
@define-color buttoncolor #d79921;
@define-color bordercolor @primary;
@define-color fontcolor @on_surface;

* {
    font-family: "Fragment Mono Nerd Font";
}

/* Control Center */

.control-center {
    border: 3px solid @bordercolor;
    padding: 14px;
}

button {
    border: 0px;
    min-width: 35px;
    background: @buttoncolor;
    color: @on_secondary;
}

.notification-group-header {
    font-size: 14px;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    margin:10px;
}

/* Notification */

.notification {
    border: 3px solid @bordercolor;
	border-radius: 10px;
    padding:10px;
}

.notification-default-action:hover,
.notification-action:hover {
    color: #ffffff;
    background: transparent;
}
