* {
    primary: #ffb4a8;
    primary-fixed: #ffdad4;
    primary-fixed-dim: #ffb4a8;
    on-primary: #690000;
    on-primary-fixed: #410000;
    on-primary-fixed-variant: #930000;
    primary-container: #ff5541;
    on-primary-container: #000000;
    secondary: #ffb4a8;
    secondary-fixed: #ffdad4;
    secondary-fixed-dim: #ffb4a8;
    on-secondary: #670502;
    on-secondary-fixed: #410000;
    on-secondary-fixed-variant: #871f15;
    secondary-container: #871f15;
    on-secondary-container: #ffd7d1;
    tertiary: #ffb957;
    tertiary-fixed: #ffddb5;
    tertiary-fixed-dim: #ffb957;
    on-tertiary: #462b00;
    on-tertiary-fixed: #2a1800;
    on-tertiary-fixed-variant: #643f00;
    tertiary-container: #c48319;
    on-tertiary-container: #000000;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #1f0f0d;
    on-surface: #fcdbd6;
    on-surface-variant: #e6bdb6;
    outline: #ad8882;
    outline-variant: #5d3f3b;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #fcdbd6;
    inverse-on-surface: #3f2b28;
    inverse-primary: #bf0603;
    surface-dim: #1f0f0d;
    surface-bright: #493431;
    surface-container-lowest: #190a08;
    surface-container-low: #281714;
    surface-container: #2d1b18;
    surface-container-high: #382522;
    surface-container-highest: #44302d;
}
