* {
    primary: #0e677b;
    primary-fixed: #b1ecff;
    primary-fixed-dim: #89d1e8;
    on-primary: #ffffff;
    on-primary-fixed: #001f27;
    on-primary-fixed-variant: #004e5e;
    primary-container: #6ab2c8;
    on-primary-container: #002129;
    secondary: #49626b;
    secondary-fixed: #cce7f1;
    secondary-fixed-dim: #b0cbd5;
    on-secondary: #ffffff;
    on-secondary-fixed: #031f26;
    on-secondary-fixed-variant: #314a53;
    secondary-container: #c9e4ee;
    on-secondary-container: #314a52;
    tertiary: #735184;
    tertiary-fixed: #f6d9ff;
    tertiary-fixed-dim: #e1b8f2;
    on-tertiary: #ffffff;
    on-tertiary-fixed: #2b0d3c;
    on-tertiary-fixed-variant: #5a3a6b;
    tertiary-container: #c19ad2;
    on-tertiary-container: #2d0f3e;
    error: #ba1a1a;
    on-error: #ffffff;
    error-container: #ffdad6;
    on-error-container: #410002;
    surface: #f7fafb;
    on-surface: #191c1d;
    on-surface-variant: #3f484c;
    outline: #6f797c;
    outline-variant: #bfc8cc;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #2d3132;
    inverse-on-surface: #eff1f2;
    inverse-primary: #89d1e8;
    surface-dim: #d8dadc;
    surface-bright: #f7fafb;
    surface-container-lowest: #ffffff;
    surface-container-low: #f2f4f5;
    surface-container: #eceef0;
    surface-container-high: #e6e8ea;
    surface-container-highest: #e0e3e4;
}
