* {
    primary: #efc100;
    primary-fixed: #ffe086;
    primary-fixed-dim: #efc100;
    on-primary: #3c2f00;
    on-primary-fixed: #231b00;
    on-primary-fixed-variant: #574500;
    primary-container: #574500;
    on-primary-container: #ffe086;
    secondary: #d2c78f;
    secondary-fixed: #eee3a9;
    secondary-fixed-dim: #d2c78f;
    on-secondary: #373106;
    on-secondary-fixed: #201c00;
    on-secondary-fixed-variant: #4e471b;
    secondary-container: #4e471b;
    on-secondary-container: #eee3a9;
    tertiary: #c9cb81;
    tertiary-fixed: #e6e79a;
    tertiary-fixed-dim: #c9cb81;
    on-tertiary: #313300;
    on-tertiary-fixed: #1c1d00;
    on-tertiary-fixed-variant: #484a0d;
    tertiary-container: #484a0d;
    on-tertiary-container: #e6e79a;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #181306;
    on-surface: #ede1ca;
    on-surface-variant: #d0c6af;
    outline: #99907c;
    outline-variant: #4d4635;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #ede1ca;
    inverse-on-surface: #363020;
    inverse-primary: #735c00;
    surface-dim: #181306;
    surface-bright: #3f3928;
    surface-container-lowest: #120e03;
    surface-container-low: #201b0d;
    surface-container: #241f11;
    surface-container-high: #2f2a1a;
    surface-container-highest: #3a3424;
}
