@import "colors.rasi"

configuration {
    font:                   "neonFlexsans 11";
    show-icons:             false;
    hover-select:           true;
    me-select-entry:        "";
    me-accept-entry:        "MousePrimary";
}

* {
    text-color:             @on-surface;
    background-color:       transparent;
}

window {
    background-color:       transparent;
    border-radius:           0;
    width:                  300px;
    location:               center;
    anchor:                 center;
    y-offset:               -60;
    padding:                0;
    children:               [ mainbox ];
}

mainbox {
    orientation:            vertical;
    background-color:       transparent;
    padding:                0;
    spacing:                0;
    children:               [ inputbar ];
}

inputbar {
    background-color:       rgba(39, 43, 41, 0.70);
    text-color:             @on-surface;
    border-radius:           0;
    padding:                6px 12px;
    margin:                 0;
    spacing:                6px;
    children:               [ prompt, entry ];
}

prompt {
    text-color:             @primary;
    font:                   "neonFlexsans Bold 11";
    expand:                 false;
    vertical-align:         0.5;
}

entry {
    text-color:             @on-surface;
    font:                   "neonFlexsans 11";
    placeholder:            "Jump to...";
    placeholder-color:      @on-surface-variant;
    vertical-align:         0.5;
}
