@import "colors.rasi"

configuration {
    font:                   "Monaspace Krypton 10";
    show-icons:             true;
    icon-theme:             "hicolor";
    hover-select:           true;
    me-select-entry:        "";
    me-accept-entry:        "MousePrimary";
}

* {
    text-color:             @on-surface;
    background-color:       transparent;
}

window {
    background-color:       transparent;
    border-radius:           0;
    width:                  98.1%;
    location:               south;
    anchor:                 south;
    y-offset:               0px;
    shadow:                 true;
    shadow-radius:           0;
    shadow-offset:           2px 2px;
    shadow-color:            @outline-variant;
    children:               [ mainbox ];
}

mainbox {
    orientation:            vertical;
    background-color:       transparent;
    padding:                0;
    spacing:                10px;
    children:               [ listview, inputbar ];
}

inputbar {
    background-color:       @surface-container-high;
    border:                 2px;
    border-color:           @on-surface;
    text-color:             @on-surface;
    border-radius:           0;
    padding:                8px 14px;
    margin:                 0 0px;
    spacing:                8px;
    children:               [ prompt, entry ];
}

prompt {
    text-color:             @primary;
    font:                   "TikTok Sans Bold 11";
    expand:                 false;
    vertical-align:         0.5;
}

entry {
    text-color:             @on-surface;
    font:                   "TikTok Sans 11";
    placeholder:            "Quick jump...";
    placeholder-color:      @on-surface-variant;
    vertical-align:         0.5;
}

listview {
    layout:                 vertical;
    background-color:       @surface-container;
    border:                 2px;
    border-color:           @outline-variant;
    border-radius:           0;
    padding:                4px 6px;
    margin:                 0 8px;
    spacing:                4px;
    cycle:                  true;
    dynamic:                true;
    scrollbar:              false;
}

element {
    background-color:       transparent;
    text-color:             @on-surface;
    border-radius:           0;
    padding:                6px 10px;
    spacing:                6px;
    orientation:            horizontal;
}

element selected {
    background-color:       @secondary-container;
    text-color:             @on-secondary-container;
    padding:                6px 12px;
}

element normal active {
    text-color:             @primary;
}

element-icon {
    size:                   16px;
    vertical-align:         0.5;
}

element-text {
    text-color:             inherit;
    vertical-align:         0.5;
}
