@import "colors.rasi"

configuration {
    font:                   "neonFlexcode 10";
    show-icons:             true;
    icon-theme:             "hicolor";
    hover-select:           true;
    me-select-entry:        "";
    me-accept-entry:        "MousePrimary";
}

* {
    text-color:             @on-surface;
    background-color:       transparent;
}

window {
    background-color:       transparent;
    border-radius:          0;
    width:                  100%;
    location:               north;
    anchor:                 north;
    y-offset:               0;
    children:               [ mainbox ];
}

mainbox {
    orientation:            vertical;
    background-color:       transparent;
    padding:                0;
    spacing:                10px;
    children:               [ inputbar, listview ];
}

inputbar {
    background-color:       rgba(39, 43, 41, 0.70);
    text-color:             @on-surface;
    border-radius:          0px 0px 100px 100px;
    padding:                8px 14px;
    margin:                 0 0px;
    spacing:                8px;
    children:               [ prompt, entry ];
}

prompt {
    text-color:             @primary;
    font:                   "neonFlexsans Bold 11";
    expand:                 false;
    vertical-align:         0.5;
}

entry {
    text-color:             @on-surface;
    font:                   "neonFlexsans 11";
    placeholder:            "Quick jump...";
    placeholder-color:      @on-surface-variant;
    vertical-align:         0.5;
}

listview {
    layout:                 vertical;
    background-color:       rgba(39, 43, 41, 0.70);
    border-radius:          20px;
    padding:                4px 6px;
    margin:                 0 8px;
    spacing:                4px;
    cycle:                  true;
    dynamic:                true;
    scrollbar:              false;
}

element {
    background-color:       transparent;
    text-color:             @on-surface;
    border-radius:          100px;
    padding:                6px 10px;
    spacing:                6px;
    orientation:            horizontal;
}

element selected {
    background-color:       @secondary-container;
    text-color:             @on-secondary-container;
    padding:                6px 12px;
}

element normal active {
    text-color:             @primary;
}

element-icon {
    size:                   16px;
    vertical-align:         0.5;
}

element-text {
    text-color:             inherit;
    vertical-align:         0.5;
}
