@import "colors.rasi"

configuration {
    show-icons:             false;
    font:                   "neonFlexsans 12";
}

* {
    background-color: transparent;
    text-color:       @on-surface;
}

window {
    width:            500px;
    padding:          12px;
    location:         center;
    border-radius:    28px;
    background-color: @surface-container-low;
}

mainbox {
    children:         [ inputbar, listview ];
    spacing:          8px;
}

inputbar {
    children:         [ prompt, entry ];
    padding:          16px;
    background-color: @surface-container;
    border-radius:    24px;
}

prompt {
    text-color:       @primary;
    padding:          0 12px 0 0;
}

entry {
    font:             "neonFlexsans Bold 18";
    placeholder:      "Execute...";
    placeholder-color: @outline;
}

listview {
    layout:           vertical;
    spacing:          4px;
    lines:            6;
    padding:          4px;
}

element {
    padding:          14px 20px;
    border-radius:    20px;
    background-color: transparent;
}

element selected {
    background-color: @primary-container;
    text-color:       @on-primary-container;
}

element-text {
    text-color:       inherit;
    font:             "neonFlexsans 14";
    vertical-align:   0.5;
}
